
table{
    text-align: center;
    margin-top: 50px;
}

#container{
     display: flex;
     align-items: center;
     justify-content: center;
}
#save{
    margin-left: 30px;
}
#box{
display: flex;
     align-items: center;
     justify-content: center;
}
#result td{
    padding: 5px;
}